{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Blog {% endblock %}

{% block page_content %}

<div class="container">

    <form method="POST">
        
        {{ form.hidden_tag() }}
        
        {{ form.name.label }} {{ form.name }}
        <br>
        {{ form.breed.label }} {{ form.breed }}
        <br>
        {{ form.neutered.label }} {{ form.neutered }}
        <br>
        {{ form.mood.label }} {{ form.mood }}
        <br>
        {{ form.food_choice.label }} {{ form.food_choice }}
        <br>

        {{ form.submit()}}
    </form>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}